<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUSTOMER DETAILS</title>
</head>
<%- include('../views/partials/adminnav.ejs') %>


<link rel="stylesheet" href="/styles/customerdet.css">
<body>
    <div class="apply">
        <div class="main">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/122101/yamaha-fz-x-right-side-view0.jpeg?isig=0&wm=2&q=80" alt="Los Angeles" class="d-block w-100">
                  <div class="carousel-caption">
                      <h1><%= h1  %></h1>
                    <p>FZ Version3</p>
                    </div>  
              </div>


        </div>

        <br><br><
        <table border="2px">
            <thead>
        <tr>
            <th>SNO</th>
            <th>CUSTOMER NAME</th>
            <th>EMAIL ID</th>
            <th>ADDRESS</th>
            <th>CONTACT</th>
            <th>BIKE NAME</th>
            <th>MODEL</th>
            <th>DATE</th>
            <th>PAYMENT PRICE</th>
        </tr>
        
            </thead>

            <thead>
                <% cus.forEach((cus,index)=>{ %>
                <tr>
                    <td><%= index+1  %></td>
                    <td><%= cus.cname %></td>
                    <td><%= cus.email %></td>
                    <td><%= cus.address %></td>
                    <td><%= cus.phone %></td>
                    <td><%= cus.bname %></td>
                    <td><%= cus.model %></td>
                    <td><%= cus.date %></td>
                    <td><%= cus.price %></td>
                </tr>

                <% }) %>
            </thead>

         
        </table></div>
</body>


<br><br>

    

</html>

    
</body>
</html>