<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPLOYEE DETAILS</title>
</head>
<%- include('../views/partials/adminnav.ejs') %>


<link rel="stylesheet" href="/styles/employeedet.css">
<body>
    <div class="apply">
        <div class="main">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/122101/yamaha-fz-x-right-side-view0.jpeg?isig=0&wm=2&q=80" alt="Los Angeles" class="d-block w-100">
                  <div class="carousel-caption">
                      <h1><%= h1  %></h1>
                    <p>FZ Version3</p>
                    </div>  
              </div>


        </div>

        <table border="2px">
            <thead>
        <tr>
            <th>SNO</th>
            <th>EMP ID</th>
            <th>EMP NAME</th>
            <th>GENDER</th>
            <th>CONTACT</th>
            <th>DEPT ROLE</th>
            <th>SALARY</th>
    

            <th>ACTION</th>
        </tr>
        
            </thead>

            <thead>
                <% emplo.forEach((emp,index)=>{ %>

                    <tr>
                        <th><%= index+1  %></th>
                        <th><%= emp.eid %></th>
                        <th><%= emp.ename %></th>
                        <th><%= emp.gender %></th>
                        <th><%= emp.phone %></th>
                        <th><%= emp.dep %></th>
                        <th><%= emp.salary %></th>
                
            
                        <th>
                            <button style="background:transparent; border: none;" ><a href="/empupdate/<%= emp._id %>" ><i class="bi bi-pencil-square" style="color: rgb(103, 233, 91); background: transparent;"></i></a></button>
            
                            <a href="/empdelete/<%= emp._id  %>"  onclick="deletedata()"><i class="bi bi-trash3" style="background: transparent;" id="trash"   ></i></i></a>
                            

                        </th>
                    </tr>


                    <% })  %>
            </thead>

         
        </table></div>
</body>


<br><br>

    

</html>

    
</body>
</html>